In [1]:
import pandas as pd
from particle.particle.convert import (get_from_pdg_extended,
                                       get_from_pdg_mcd,
                                       update_from_mcd)
from particle import data

In [2]:


full_table = get_from_pdg_extended(data.open_text(data, 'mass_width_2008.fwf'),
                                   [data.open_text(data, 'pdgid_to_latex.csv')],
                                   skiprows=(*range(100), *range(495,499)))

Saving the table.

In [3]:
full_table.to_csv('particle2008.csv', float_format='%.12g')

Let's load and *update* the values from the most recent PDG.

In [4]:
ext_table = get_from_pdg_mcd(data.open_text(data, 'mass_width_2018.mcd'))
new_table = update_from_mcd(full_table, ext_table)

In [5]:
new_table.to_csv('particle2018.csv', float_format='%.12g')

These are the particles missing from the old file (and therefore missing in the combined version as well)

In [6]:
rem = set(ext_table.index) - set(full_table.index)
ext_table.loc[rem].sort_index()

,Mass,MassUpper,MassLower,Width,WidthUpper,WidthLower,Name,charge
ID,,,,,,,,
21,0.00,0.00,0.00,0.000000e+00,0.000000e+00,0.000000e+00,g,0
25,125180.00,160.00,160.00,NaN,NaN,NaN,H,0
5332,6046.10,1.70,1.70,5.900000e-22,1.000000e-22,8.000000e-23,Omega(b),-
10221,1350.00,150.00,150.00,3.500000e+02,1.500000e+02,1.500000e+02,f(0)(1370),0
10553,9899.30,0.80,0.80,NaN,NaN,NaN,h(b)(1P),0
11112,1860.00,60.00,20.00,2.500000e+02,7.000000e+01,7.000000e+01,Delta(1900),-
11212,1860.00,60.00,20.00,2.500000e+02,7.000000e+01,7.000000e+01,Delta(1900),0
12122,1860.00,60.00,20.00,2.500000e+02,7.000000e+01,7.000000e+01,Delta(1900),+
12222,1860.00,60.00,20.00,2.500000e+02,7.000000e+01,7.000000e+01,Delta(1900),++
30553,10163.70,1.40,1.40,NaN,NaN,NaN,Upsilon(2)(1D),0
103316,1950.00,15.00,15.00,6.000000e+01,2.000000e+01,2.000000e+01,Xi(1950),-
103326,1950.00,15.00,15.00,6.000000e+01,2.000000e+01,2.000000e+01,Xi(1950),0
104122,2628.11,0.19,0.19,NaN,NaN,NaN,Lambda(c)(2625),+
104312,2820.22,0.32,0.32,2.540000e+00,2.500000e-01,2.500000e-01,Xi(c)(2815),0
104314,2792.80,1.20,1.20,1.000000e+01,1.100000e+00,1.100000e+00,Xi(c)(2790),0
104322,2816.67,0.31,0.31,2.430000e+00,2.600000e-01,2.600000e-01,Xi(c)(2815),+
104324,2792.00,0.50,0.50,8.900000e+00,1.000000e+00,1.000000e+00,Xi(c)(2790),+
203312,1690.00,10.00,10.00,NaN,NaN,NaN,Xi(1690),-
203316,2025.00,5.00,5.00,2.000000e+01,1.500000e+01,5.000000e+00,Xi(2030),-
203322,1690.00,10.00,10.00,NaN,NaN,NaN,Xi(1690),0
203326,2025.00,5.00,5.00,2.000000e+01,1.500000e+01,5.000000e+00,Xi(2030),0
203338,2252.00,9.00,9.00,5.500000e+01,1.800000e+01,1.800000e+01,Omega(2250),-
204126,2881.63,0.24,0.24,5.600000e+00,8.000000e-01,6.000000e-01,Lambda(c)(2880),+
1000223,1425.00,25.00,25.00,2.150000e+02,3.500000e+01,3.500000e+01,omega(1420),0

### Old checks (columns now removed)

Buggy PDG result on K_s and K_l (J now removed)

In [7]:
#for item in full_table.index:
#    value = full_table.loc[item,'J']
#    if '?' not in value and 'or' not in value:
#        result = eval(value) == (PDGID(item).J-1)/2
#        if not result:
#            print(f"{item:11} {float(eval(value))} {(PDGID(item).J-1)/2}")

PDG result is better for charge, so that is now removed too

In [8]:
#for item in ab.index:
#    value = ab.loc[item,'Charge']
#    result = value == PDGID(item).charge
#    if not result:
#        print(f"{item:11} {value} {PDGID(item).charge}")